{% extends "layout.html" %}

{% block content %}
<a href="{{ url_for('main.add_user') }}">Agregar Usuario</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Edad</th>
        <th>Acciones</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.edad }}</td>
        <td>
            <a href="{{ url_for('main.edit_user', id=usuario.id) }}">Editar</a>
            <a href="{{ url_for('main.delete_user', id=usuario.id) }}" onclick="return confirm('¿Seguro que deseas eliminar?')">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}